<div>
  <div class="przyciski">
    <button (click)="synchronizujDaneWBD()">Synchronizuj dane</button>
    <div>
      <label for="currency">Wybierz walute:</label>
      <select id="currency" [(ngModel)]="wybranaWaluta" (change)="zaladujKurs(wybranaWaluta)">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
  </div>
  <h1 class="title">KURS {{ title }}</h1>
  <div class="error" *ngIf="blad">
    <h3>Błąd pobierania danych!</h3>
    <button (click)="synchronizujDaneWBD()">Synchronizuj dane!</button>
  </div>
  <div style="display: flex; gap: 16px; margin-bottom: 16px;">
    <button><a href="#dzien">Idź do dnia</a></button>
    <button><a href="#miesiac">Idź do miesiąca</a></button>
    <button><a href="#kwartal">Idź do kwartału</a></button>
    <button><a href="#rok">Idź do roku</a></button>
  </div>
  <div class="wrapper" *ngIf="!blad">
    <table *ngIf="kursDzien" id="dzien">
      <thead>
        <tr>
          <th>Dzień</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let rate of kursDzien">
            <p>{{ rate.effectiveDate }} | {{ rate.mid }}</p>
          </td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="kursMiesiac" id="miesiac">
      <thead>
      <tr>
        <th>Miesiąc</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rate of kursMiesiac">
        <td>
          <p>{{ rate.effectiveDate }} | {{ rate.mid }}</p>
        </td>
      </tr>
      </tbody>
    </table>

    <table *ngIf="kursKwartal" id="kwartal">
      <thead>
      <tr>
        <th>Kwartał</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rate of kursKwartal">
        <td>
          <p>{{ rate.effectiveDate }} | {{ rate.mid }}</p>
        </td>
      </tr>
      </tbody>
    </table>

    <table *ngIf="wszystkieKursy" id="rok">
      <thead>
      <tr>
        <th>Rok</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rate of wszystkieKursy">
        <td>
          <p>{{ rate.effectiveDate }} | {{ rate.mid }}</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
